<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Black+Han+Sans&amp;subset=korean&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="../../assets/css/Do%20Hyeon.css">
    <link rel="stylesheet" href="../../assets/css/Font%20Awesome%205%20Brands.css">
    <link rel="stylesheet" href="../../assets/css/Font%20Awesome%205%20Free.css">
    <link rel="stylesheet" href="../../assets/css/FontAwesome.css">
    <link rel="stylesheet" href="../../assets/css/Gowun%20Dodum.css">
    <link rel="stylesheet" href="../../assets/css/Hahmlet.css">
    <link rel="stylesheet" href="../../assets/css/IBM%20Plex%20Sans%20KR.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="../../assets/css/NanumGothic.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i">
    <link rel="stylesheet" href="../../assets/css/simple-line-icons.css">
    <link rel="stylesheet" href="../../assets/css/Song%20Myung.css">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../../assets/css/-Login-form-Page-BS4-.css">
    <link rel="stylesheet" href="../../assets/css/Animate-Cards-Devices-1.css">
    <link rel="stylesheet" href="../../assets/css/Animate-Cards-Devices.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap-1.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap-2.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min-1-1.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min-1-2.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min-1.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min-2.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min-3.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/Brands-1.css">
    <link rel="stylesheet" href="../../assets/css/Brands.css">
    <link rel="stylesheet" href="../../assets/css/Card-Deck.css">
    <link rel="stylesheet" href="../../assets/css/community_board.css">
    <link rel="stylesheet" href="../../assets/css/community_post_view.css">
    <link rel="stylesheet" href="../../assets/css/community_write_post.css">
    <link rel="stylesheet" href="../../assets/css/Faq-by-pomdre-1.css">
    <link rel="stylesheet" href="../../assets/css/Faq-by-pomdre.css">
    <link rel="stylesheet" href="../../assets/css/font-awesome.min-1.css">
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/fontawesome-all.min-1.css">
    <link rel="stylesheet" href="../../assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../assets/css/fontawesome5-overrides.min-1.css">
    <link rel="stylesheet" href="../../assets/css/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../../assets/css/Highlight-Phone-1.css">
    <link rel="stylesheet" href="../../assets/css/Highlight-Phone.css">
    <link rel="stylesheet" href="../../assets/css/Hover-Button-1-1.css">
    <link rel="stylesheet" href="../../assets/css/Hover-Button-1.css">
    <link rel="stylesheet" href="../../assets/css/LinkedIn-like-Profile-Box.css">
    <link rel="stylesheet" href="../../assets/css/Login-Box-En.css">
    <link rel="stylesheet" href="../../assets/css/Ludens-Users---2-Register.css">
    <link rel="stylesheet" href="../../assets/css/Mega-Menu-1.css">
    <link rel="stylesheet" href="../../assets/css/Mega-Menu-2.css">
    <link rel="stylesheet" href="../../assets/css/Mega-Menu.css">
    <link rel="stylesheet" href="../../assets/css/Navbarbuttonsignupsignin-modal-form-1-1.css">
    <link rel="stylesheet" href="../../assets/css/Navbarbuttonsignupsignin-modal-form-1-2.css">
    <link rel="stylesheet" href="../../assets/css/Navbarbuttonsignupsignin-modal-form-1.css">
    <link rel="stylesheet" href="../../assets/css/Navbarbuttonsignupsignin-modal-form-2-1.css">
    <link rel="stylesheet" href="../../assets/css/Navbarbuttonsignupsignin-modal-form-2-2.css">
    <link rel="stylesheet" href="../../assets/css/Navbarbuttonsignupsignin-modal-form-2.css">
    <link rel="stylesheet" href="../../assets/css/Navbarbuttonsignupsignin-modal-form-3.css">
    <link rel="stylesheet" href="../../assets/css/Navbarbuttonsignupsignin-modal-form-4.css">
    <link rel="stylesheet" href="../../assets/css/Navbarbuttonsignupsignin-modal-form.css">
    <link rel="stylesheet" href="../../assets/css/Navigation-Clean-1.css">
    <link rel="stylesheet" href="../../assets/css/Navigation-Clean-2.css">
    <link rel="stylesheet" href="../../assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="../../assets/css/Navigation-with-Search-1.css">
    <link rel="stylesheet" href="../../assets/css/Navigation-with-Search-2.css">
    <link rel="stylesheet" href="../../assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="../../assets/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="../../assets/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="../../assets/css/Sakae-Simple-Section-1.css">
    <link rel="stylesheet" href="../../assets/css/Sakae-Simple-Section.css">
    <link rel="stylesheet" href="../../assets/css/Search-Input-responsive-1-1.css">
    <link rel="stylesheet" href="../../assets/css/Search-Input-responsive-1-2.css">
    <link rel="stylesheet" href="../../assets/css/Search-Input-responsive-1.css">
    <link rel="stylesheet" href="../../assets/css/Search-Input-responsive-2.css">
    <link rel="stylesheet" href="../../assets/css/Search-Input-responsive-3.css">
    <link rel="stylesheet" href="../../assets/css/Search-Input-responsive.css">
    <link rel="stylesheet" href="../../assets/css/simple-line-icons.min-1.css">
    <link rel="stylesheet" href="../../assets/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="../../assets/css/Styled-Header.css">
    <link rel="stylesheet" href="../../assets/css/styles.css">
    <link rel="stylesheet" href="../../assets/css/stylesheet-1.css">
    <link rel="stylesheet" href="../../assets/css/stylesheet.css">
    <link rel="stylesheet" href="../../assets/css/Team-Grid.css">
    <link rel="stylesheet" href="../../assets/css/Ultimate-Testimonial-Slider.css">
</head>

<body><script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/d3f6526fd6.js" crossorigin="anonymous"></script>


    <section>
        <div class="container">
            <div>
                <h1 style="font-family: 'Gowun Dodum', sans-serif;text-align: center;font-size: 1.5rem;font-weight: bold;">청년정책 알아보기</h1>
            </div>
            <div style="margin-top: 30px;">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="font-size: 1.3rem;border-top-width: 0px;"><i class="fas fa-dot-circle" style="color:#02AAB2;"></i>&nbsp; &nbsp;생활지원비</th>
                                <th style="text-align: right;font-size: 1.05rem;border-top-width: 0px;">정책번호 : R2021021800249</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" style="font-size: 0.85rem;font-weight: bold;background: #effcff;border-top-width: 2px;border-top-color: rgb(0,0,0);">&nbsp; &nbsp; &nbsp;<i class="fas fa-check-circle" style="color:#02AAB2;"></i>&nbsp; &nbsp;코로나19 확진 또는 접촉 등으로 보건소가 격리 또는 입원치료를 통지한 사람 대상 주민등록표 가구원 수 기준 생활지원비 지급<br></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="margin-top: 15px;">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="font-size: 1.1rem;border-top-width: 0px;margin-left: 0px;" colspan="2"><i class="fas fa-check-circle" style="color:#BCCE52;"></i>&nbsp; &nbsp;한눈에 보는 정책 요약</th>
                            </tr>
                        </thead>
                        <tbody style="border-top-color: rgb(0,0,0);">
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;width: 10rem;background: #effcff;">정책 유형<br></td>
                                <td style="font-size: 0.85rem;">코로나19, 재난피해지원<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">지원 내용</td>
                                <td style="font-size: 0.85rem;">입원 또는 격리된 분 중 방역당국 조치를 충실히 이행한 경우에 한해 지급되며 주민등록표 가구원 수 기준 생활지원비 지급<br>격리·입원자가 지자체 신청·접수(수시) -&gt; 심사 후 지급<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">사업 운영 기간<br></td>
                                <td style="font-size: 0.85rem;">2020.2.17.~별도공지시까지<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">사업 신청 기간<br></td>
                                <td style="font-size: 0.85rem;">2020.2.17.~별도공지시까지<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">지원 규모(명)<br></td>
                                <td style="font-size: 0.85rem;">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="margin-top: 15px;">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="font-size: 1.1rem;border-top-width: 0px;" colspan="2"><i class="fas fa-check-circle" style="color:#BCCE52;"></i><strong>&nbsp; &nbsp;</strong>신청 자격</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;width: 10rem;background: #effcff;">연령&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
                                <td style="font-size: 0.85rem;">제한없음<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">거주지 및 소득</td>
                                <td style="font-size: 0.85rem;">제한없음<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">학력</td>
                                <td style="font-size: 0.85rem;">제한없음<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">전공</td>
                                <td style="font-size: 0.85rem;">제한없음<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">취업 상태</td>
                                <td style="font-size: 0.85rem;">제한없음<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">특화 분야</td>
                                <td style="font-size: 0.85rem;">제한없음<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">추가 단서 사항</td>
                                <td style="font-size: 0.85rem;">-</td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">참여 제한 대상</td>
                                <td style="font-size: 0.85rem;">유급휴가비와 중복 수혜 불가<br></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="margin-top: 15px;">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2" style="font-size: 1.1rem;border-top-width: 0px;"><i class="fas fa-check-circle" style="color:#BCCE52;"></i>&nbsp; &nbsp;신청 방법</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;width: 10rem;background: #effcff;">신청 절차<br></td>
                                <td style="font-size: 0.85rem;">-</td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">심사 및 발표<br></td>
                                <td style="font-size: 0.85rem;">-</td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">신청 사이트<br></td>
                                <td style="font-size: 0.85rem;"><br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">제출 서류<br></td>
                                <td style="font-size: 0.85rem;">생활지원신청서 및 신청인 명의 통장<br></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="margin-top: 15px;">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2" style="border-top-width: 0px;"><i class="fas fa-check-circle" style="color:#BCCE52;"></i><strong>&nbsp; &nbsp;기타</strong><br></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;width: 10rem;background: #effcff;">기타 유익 정보<br></td>
                                <td style="font-size: 0.85rem;">주민등록지 관할 읍면사무소 및 동주민센터. 1339(질병관리청콜센터) 문의<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">주관 기관<br></td>
                                <td style="font-size: 0.85rem;">보건복지부<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">운영 기관<br></td>
                                <td style="font-size: 0.85rem;">-</td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">사업 관련 참고 사이트1<br></td>
                                <td style="font-size: 0.85rem;"><br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">사업 관련 참고 사이트2<br></td>
                                <td style="font-size: 0.85rem;"><br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">첨부파일<br></td>
                                <td style="font-size: 0.85rem;"></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">관련첨부파일</td>
                                <td style="font-size: 0.85rem;"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" style="background: #ffffff;">
                    <div class="col" style="text-align: center;margin: 0px;margin-right: 0px;margin-left: 0px;"><button class="btn btn-dark" type="button" style="font-family: Lato, sans-serif;text-align: center;background: #00bbbb;width: 150px;height: 50px;font-weight: bold;font-size: 16px;">뒤로가기</button></div>
                </div>
            </div>
        </div>
    </section>        
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/bootstrap.js"></script>
    <script src="../assets/js/bootstrap.min-1.js"></script>
    <script src="../assets/js/bootstrap.min-2.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/bs-init.js"></script>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/Mega-Menu.js"></script>
    <script src="../assets/js/Navbarbuttonsignupsignin-modal-form.js"></script>
    <script src="../assets/js/popper.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/js/bootstrap.js"></script>
    <script src="../../assets/js/bootstrap.min-1.js"></script>
    <script src="../../assets/js/bootstrap.min-2.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="../../assets/js/bs-init.js"></script>
    <script src="../../assets/js/Faq-by-pomdre.js"></script>
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/Mega-Menu.js"></script>
    <script src="../../assets/js/Navbarbuttonsignupsignin-modal-form.js"></script>
    <script src="../../assets/js/popper.js"></script>
    <script src="../../assets/js/Profile-Edit-Form.js"></script>
</body>

</html>