<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Black+Han+Sans&amp;subset=korean&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="../../assets/css/Do%20Hyeon.css">
    <link rel="stylesheet" href="../../assets/css/Font%20Awesome%205%20Brands.css">
    <link rel="stylesheet" href="../../assets/css/Font%20Awesome%205%20Free.css">
    <link rel="stylesheet" href="../../assets/css/FontAwesome.css">
    <link rel="stylesheet" href="../../assets/css/Gowun%20Dodum.css">
    <link rel="stylesheet" href="../../assets/css/Hahmlet.css">
    <link rel="stylesheet" href="../../assets/css/IBM%20Plex%20Sans%20KR.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="../../assets/css/NanumGothic.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i">
    <link rel="stylesheet" href="../../assets/css/simple-line-icons.css">
    <link rel="stylesheet" href="../../assets/css/Song%20Myung.css">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../../assets/css/-Login-form-Page-BS4-.css">
    <link rel="stylesheet" href="../../assets/css/Animate-Cards-Devices-1.css">
    <link rel="stylesheet" href="../../assets/css/Animate-Cards-Devices.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap-1.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap-2.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min-1-1.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min-1-2.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min-1.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min-2.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min-3.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/Brands-1.css">
    <link rel="stylesheet" href="../../assets/css/Brands.css">
    <link rel="stylesheet" href="../../assets/css/Card-Deck.css">
    <link rel="stylesheet" href="../../assets/css/community_board.css">
    <link rel="stylesheet" href="../../assets/css/community_post_view.css">
    <link rel="stylesheet" href="../../assets/css/community_write_post.css">
    <link rel="stylesheet" href="../../assets/css/Faq-by-pomdre-1.css">
    <link rel="stylesheet" href="../../assets/css/Faq-by-pomdre.css">
    <link rel="stylesheet" href="../../assets/css/font-awesome.min-1.css">
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/fontawesome-all.min-1.css">
    <link rel="stylesheet" href="../../assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../assets/css/fontawesome5-overrides.min-1.css">
    <link rel="stylesheet" href="../../assets/css/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../../assets/css/Highlight-Phone-1.css">
    <link rel="stylesheet" href="../../assets/css/Highlight-Phone.css">
    <link rel="stylesheet" href="../../assets/css/Hover-Button-1-1.css">
    <link rel="stylesheet" href="../../assets/css/Hover-Button-1.css">
    <link rel="stylesheet" href="../../assets/css/LinkedIn-like-Profile-Box.css">
    <link rel="stylesheet" href="../../assets/css/Login-Box-En.css">
    <link rel="stylesheet" href="../../assets/css/Ludens-Users---2-Register.css">
    <link rel="stylesheet" href="../../assets/css/Mega-Menu-1.css">
    <link rel="stylesheet" href="../../assets/css/Mega-Menu-2.css">
    <link rel="stylesheet" href="../../assets/css/Mega-Menu.css">
    <link rel="stylesheet" href="../../assets/css/Navbarbuttonsignupsignin-modal-form-1-1.css">
    <link rel="stylesheet" href="../../assets/css/Navbarbuttonsignupsignin-modal-form-1-2.css">
    <link rel="stylesheet" href="../../assets/css/Navbarbuttonsignupsignin-modal-form-1.css">
    <link rel="stylesheet" href="../../assets/css/Navbarbuttonsignupsignin-modal-form-2-1.css">
    <link rel="stylesheet" href="../../assets/css/Navbarbuttonsignupsignin-modal-form-2-2.css">
    <link rel="stylesheet" href="../../assets/css/Navbarbuttonsignupsignin-modal-form-2.css">
    <link rel="stylesheet" href="../../assets/css/Navbarbuttonsignupsignin-modal-form-3.css">
    <link rel="stylesheet" href="../../assets/css/Navbarbuttonsignupsignin-modal-form-4.css">
    <link rel="stylesheet" href="../../assets/css/Navbarbuttonsignupsignin-modal-form.css">
    <link rel="stylesheet" href="../../assets/css/Navigation-Clean-1.css">
    <link rel="stylesheet" href="../../assets/css/Navigation-Clean-2.css">
    <link rel="stylesheet" href="../../assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="../../assets/css/Navigation-with-Search-1.css">
    <link rel="stylesheet" href="../../assets/css/Navigation-with-Search-2.css">
    <link rel="stylesheet" href="../../assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="../../assets/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="../../assets/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="../../assets/css/Sakae-Simple-Section-1.css">
    <link rel="stylesheet" href="../../assets/css/Sakae-Simple-Section.css">
    <link rel="stylesheet" href="../../assets/css/Search-Input-responsive-1-1.css">
    <link rel="stylesheet" href="../../assets/css/Search-Input-responsive-1-2.css">
    <link rel="stylesheet" href="../../assets/css/Search-Input-responsive-1.css">
    <link rel="stylesheet" href="../../assets/css/Search-Input-responsive-2.css">
    <link rel="stylesheet" href="../../assets/css/Search-Input-responsive-3.css">
    <link rel="stylesheet" href="../../assets/css/Search-Input-responsive.css">
    <link rel="stylesheet" href="../../assets/css/simple-line-icons.min-1.css">
    <link rel="stylesheet" href="../../assets/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="../../assets/css/Styled-Header.css">
    <link rel="stylesheet" href="../../assets/css/styles.css">
    <link rel="stylesheet" href="../../assets/css/stylesheet-1.css">
    <link rel="stylesheet" href="../../assets/css/stylesheet.css">
    <link rel="stylesheet" href="../../assets/css/Team-Grid.css">
    <link rel="stylesheet" href="../../assets/css/Ultimate-Testimonial-Slider.css">
</head>

<body><script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/d3f6526fd6.js" crossorigin="anonymous"></script>


    <section>
        <div class="container">
            <div>
                <h1 style="font-family: 'Gowun Dodum', sans-serif;text-align: center;font-size: 1.5rem;font-weight: bold;">청년정책 알아보기</h1>
            </div>
            <div style="margin-top: 30px;">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="font-size: 1.3rem;border-top-width: 0px;"><i class="fas fa-dot-circle" style="color:#02AAB2;"></i>&nbsp; &nbsp;경기청년 희망일자리<br></th>
                                <th style="text-align: right;font-size: 1.05rem;border-top-width: 0px;">정책번호 : R2021071200362</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" style="font-size: 0.85rem;font-weight: bold;background: #effcff;border-top-width: 2px;border-top-color: rgb(0,0,0);">&nbsp; &nbsp; &nbsp;<i class="fas fa-check-circle" style="color:#02AAB2;"></i>&nbsp; &nbsp;청년층에 단기 공공일자리 제공으로 생계지원 및 미래준비 기회 제공하는 희망 일자리 사업<br></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="margin-top: 15px;">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="font-size: 1.1rem;border-top-width: 0px;margin-left: 0px;" colspan="2"><i class="fas fa-check-circle" style="color:#BCCE52;"></i>&nbsp; &nbsp;한눈에 보는 정책 요약</th>
                            </tr>
                        </thead>
                        <tbody style="border-top-color: rgb(0,0,0);">
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;width: 10rem;background: #effcff;">정책 유형<br></td>
                                <td style="font-size: 0.85rem;">취업지원, 교육훈련·체험·인턴<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">지원 내용</td>
                                <td style="font-size: 0.85rem;">- 월 본인 저축액 10만원 + 시 적립금 10만원 1:1 매칭 지원<br>- 3년 만기 해지 시 720만원(이자 별도) 지급<br>- 중도해지 시 본인적립금(이자 별도)만 지급<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">사업 운영 기간<br></td>
                                <td style="font-size: 0.85rem;">2017.10~계속<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">사업 신청 기간<br></td>
                                <td style="font-size: 0.85rem;">21년 신규모집 일시 미정(하반기 중 예정)<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">지원 규모(명)<br></td>
                                <td style="font-size: 0.85rem;">21년 지원규모 미정<br></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="margin-top: 15px;">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="font-size: 1.1rem;border-top-width: 0px;" colspan="2"><i class="fas fa-check-circle" style="color:#BCCE52;"></i><strong>&nbsp; &nbsp;</strong>신청 자격</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;width: 10rem;background: #effcff;">연령&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
                                <td style="font-size: 0.85rem;">만 19세 ~ 34세<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">거주지 및 소득</td>
                                <td style="font-size: 0.85rem;">2차 공고문 기준<br>- 2021년 5월기준 건강보험료 월 부과액이 지역가입자 277,765원, 직장가입자 252,295원 이하인 사람 (2021년 건강보험료 4인기준 본인부담금 판정기준표에 의거)<br>※ 기초생활수급자 및 차상위계층(생계·의료·교육·주거·교육 급여자)은 제외<br>※ 신청자가 세대주이면 본인 부과액 기준, 신청자가 지역세대원 또는 직장피부양자이면(부모, 형제자매 등의 세대원으로 소속) 부양자 부과액 기준 (단, 서울시가 신청서에 기입한 신청자 건강보험증번호로 일괄 조회 예정)<br>※ 온라인 신청서 작성시 신청자가 직접 건강보험증번호 입력해야함(증번호 확인방법은 공고문 게시판 첨부 참조)<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">학력</td>
                                <td style="font-size: 0.85rem;">최종학력 졸업 후 2년 경과자<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">전공</td>
                                <td style="font-size: 0.85rem;">제한없음<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">취업 상태</td>
                                <td style="font-size: 0.85rem;">미취업자<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">특화 분야</td>
                                <td style="font-size: 0.85rem;">제한없음<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">추가 단서 사항</td>
                                <td style="font-size: 0.85rem;">미취업자(고용보험 미가입자)만 신청 가능<br>- 고용보험 가입되어 있더라도, 주26시간 이하 또는 3개월 이하 단기근로자이면 신청 가능<br>※ 단, 주 26시간 이하 또는 3개월 이하 근로시간 확인이 가능한 별도의 증빙자료 (ex.근로계약서,퇴직증명서 등) 제출 시만 인정<br><br>추가로 궁금한 사항은<br>1. 서울시 청년수당 콜센터(1566-3344)<br>2. 서울시 다산콜센터(120)<br>3. 온라인 서울청년포털 ‘청년수당 Q&amp;A’로 문의 가능<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">참여 제한 대상</td>
                                <td style="font-size: 0.85rem;">국민취업지원제도, 청년내일채움공제 등 정부 및 지자체 유사사업 참여자<br></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="margin-top: 15px;">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2" style="font-size: 1.1rem;border-top-width: 0px;"><i class="fas fa-check-circle" style="color:#BCCE52;"></i>&nbsp; &nbsp;신청 방법</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;width: 10rem;background: #effcff;">신청 절차<br></td>
                                <td style="font-size: 0.85rem;">서울청년포털에서 온라인 신청<br>신청자격확인-기본정보입력 및 신청등록 - 증빙서류 등록 - 활동목표 및 활동계획서 입력 - 약정확인 및 완료<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">심사 및 발표<br></td>
                                <td style="font-size: 0.85rem;">1차 2021. 3. 30.<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">신청 사이트<br></td>
                                <td style="font-size: 0.85rem;">https://youth.seoul.go.kr/site/main/youth_allowance/self_check_step<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">제출 서류<br></td>
                                <td style="font-size: 0.85rem;">최종학교(고교,대학,대학원)졸업증명서, 근로계약서(고용보험가입한 단기근로자만 제출)<br></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="margin-top: 15px;">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2" style="border-top-width: 0px;"><i class="fas fa-check-circle" style="color:#BCCE52;"></i><strong>&nbsp; &nbsp;기타</strong><br></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;width: 10rem;background: #effcff;">기타 유익 정보<br></td>
                                <td style="font-size: 0.85rem;"><br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">주관 기관<br></td>
                                <td style="font-size: 0.85rem;">서울시청 청년청<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">운영 기관<br></td>
                                <td style="font-size: 0.85rem;">주관기관과 동일<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">사업 관련 참고 사이트1<br></td>
                                <td style="font-size: 0.85rem;">https://youth.seoul.go.kr/site/main/content/youth_allowance_justice<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">사업 관련 참고 사이트2<br></td>
                                <td style="font-size: 0.85rem;"><a href="https://youth.seoul.go.kr/site/main/home" target="_blank">https://youth.seoul.go.kr/site/main/home</a><br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">첨부파일<br></td>
                                <td style="font-size: 0.85rem;"></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">관련첨부파일</td>
                                <td style="font-size: 0.85rem;"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" style="background: #ffffff;">
                    <div class="col" style="text-align: center;margin: 0px;margin-right: 0px;margin-left: 0px;"><button class="btn btn-dark" type="button" style="font-family: Lato, sans-serif;text-align: center;background: #00bbbb;width: 150px;height: 50px;font-weight: bold;font-size: 16px;">뒤로가기</button></div>
                </div>
            </div>
        </div>
    </section>      
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/bootstrap.js"></script>
    <script src="../assets/js/bootstrap.min-1.js"></script>
    <script src="../assets/js/bootstrap.min-2.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/bs-init.js"></script>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/Mega-Menu.js"></script>
    <script src="../assets/js/Navbarbuttonsignupsignin-modal-form.js"></script>
    <script src="../assets/js/popper.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/js/bootstrap.js"></script>
    <script src="../../assets/js/bootstrap.min-1.js"></script>
    <script src="../../assets/js/bootstrap.min-2.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="../../assets/js/bs-init.js"></script>
    <script src="../../assets/js/Faq-by-pomdre.js"></script>
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/Mega-Menu.js"></script>
    <script src="../../assets/js/Navbarbuttonsignupsignin-modal-form.js"></script>
    <script src="../../assets/js/popper.js"></script>
    <script src="../../assets/js/Profile-Edit-Form.js"></script>
</body>

</html>