<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Black+Han+Sans&amp;subset=korean&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="../../assets/css/Do%20Hyeon.css">
    <link rel="stylesheet" href="../../assets/css/Font%20Awesome%205%20Brands.css">
    <link rel="stylesheet" href="../../assets/css/Font%20Awesome%205%20Free.css">
    <link rel="stylesheet" href="../../assets/css/FontAwesome.css">
    <link rel="stylesheet" href="../../assets/css/Gowun%20Dodum.css">
    <link rel="stylesheet" href="../../assets/css/Hahmlet.css">
    <link rel="stylesheet" href="../../assets/css/IBM%20Plex%20Sans%20KR.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="../../assets/css/NanumGothic.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i">
    <link rel="stylesheet" href="../../assets/css/simple-line-icons.css">
    <link rel="stylesheet" href="../../assets/css/Song%20Myung.css">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../../assets/css/-Login-form-Page-BS4-.css">
    <link rel="stylesheet" href="../../assets/css/Animate-Cards-Devices-1.css">
    <link rel="stylesheet" href="../../assets/css/Animate-Cards-Devices.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap-1.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap-2.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min-1-1.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min-1-2.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min-1.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min-2.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min-3.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/Brands-1.css">
    <link rel="stylesheet" href="../../assets/css/Brands.css">
    <link rel="stylesheet" href="../../assets/css/Card-Deck.css">
    <link rel="stylesheet" href="../../assets/css/community_board.css">
    <link rel="stylesheet" href="../../assets/css/community_post_view.css">
    <link rel="stylesheet" href="../../assets/css/community_write_post.css">
    <link rel="stylesheet" href="../../assets/css/Faq-by-pomdre-1.css">
    <link rel="stylesheet" href="../../assets/css/Faq-by-pomdre.css">
    <link rel="stylesheet" href="../../assets/css/font-awesome.min-1.css">
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/fontawesome-all.min-1.css">
    <link rel="stylesheet" href="../../assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../assets/css/fontawesome5-overrides.min-1.css">
    <link rel="stylesheet" href="../../assets/css/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../../assets/css/Highlight-Phone-1.css">
    <link rel="stylesheet" href="../../assets/css/Highlight-Phone.css">
    <link rel="stylesheet" href="../../assets/css/Hover-Button-1-1.css">
    <link rel="stylesheet" href="../../assets/css/Hover-Button-1.css">
    <link rel="stylesheet" href="../../assets/css/LinkedIn-like-Profile-Box.css">
    <link rel="stylesheet" href="../../assets/css/Login-Box-En.css">
    <link rel="stylesheet" href="../../assets/css/Ludens-Users---2-Register.css">
    <link rel="stylesheet" href="../../assets/css/Mega-Menu-1.css">
    <link rel="stylesheet" href="../../assets/css/Mega-Menu-2.css">
    <link rel="stylesheet" href="../../assets/css/Mega-Menu.css">
    <link rel="stylesheet" href="../../assets/css/Navbarbuttonsignupsignin-modal-form-1-1.css">
    <link rel="stylesheet" href="../../assets/css/Navbarbuttonsignupsignin-modal-form-1-2.css">
    <link rel="stylesheet" href="../../assets/css/Navbarbuttonsignupsignin-modal-form-1.css">
    <link rel="stylesheet" href="../../assets/css/Navbarbuttonsignupsignin-modal-form-2-1.css">
    <link rel="stylesheet" href="../../assets/css/Navbarbuttonsignupsignin-modal-form-2-2.css">
    <link rel="stylesheet" href="../../assets/css/Navbarbuttonsignupsignin-modal-form-2.css">
    <link rel="stylesheet" href="../../assets/css/Navbarbuttonsignupsignin-modal-form-3.css">
    <link rel="stylesheet" href="../../assets/css/Navbarbuttonsignupsignin-modal-form-4.css">
    <link rel="stylesheet" href="../../assets/css/Navbarbuttonsignupsignin-modal-form.css">
    <link rel="stylesheet" href="../../assets/css/Navigation-Clean-1.css">
    <link rel="stylesheet" href="../../assets/css/Navigation-Clean-2.css">
    <link rel="stylesheet" href="../../assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="../../assets/css/Navigation-with-Search-1.css">
    <link rel="stylesheet" href="../../assets/css/Navigation-with-Search-2.css">
    <link rel="stylesheet" href="../../assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="../../assets/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="../../assets/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="../../assets/css/Sakae-Simple-Section-1.css">
    <link rel="stylesheet" href="../../assets/css/Sakae-Simple-Section.css">
    <link rel="stylesheet" href="../../assets/css/Search-Input-responsive-1-1.css">
    <link rel="stylesheet" href="../../assets/css/Search-Input-responsive-1-2.css">
    <link rel="stylesheet" href="../../assets/css/Search-Input-responsive-1.css">
    <link rel="stylesheet" href="../../assets/css/Search-Input-responsive-2.css">
    <link rel="stylesheet" href="../../assets/css/Search-Input-responsive-3.css">
    <link rel="stylesheet" href="../../assets/css/Search-Input-responsive.css">
    <link rel="stylesheet" href="../../assets/css/simple-line-icons.min-1.css">
    <link rel="stylesheet" href="../../assets/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="../../assets/css/Styled-Header.css">
    <link rel="stylesheet" href="../../assets/css/styles.css">
    <link rel="stylesheet" href="../../assets/css/stylesheet-1.css">
    <link rel="stylesheet" href="../../assets/css/stylesheet.css">
    <link rel="stylesheet" href="../../assets/css/Team-Grid.css">
    <link rel="stylesheet" href="../../assets/css/Ultimate-Testimonial-Slider.css">
</head>

<body><script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/d3f6526fd6.js" crossorigin="anonymous"></script>


    <section>
        <div class="container">
            <div>
                <h1 style="font-family: 'Gowun Dodum', sans-serif;text-align: center;font-size: 1.5rem;font-weight: bold;">청년정책 알아보기</h1>
            </div>
            <div style="margin-top: 30px;">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="font-size: 1.3rem;border-top-width: 0px;"><i class="fas fa-dot-circle" style="color:#02AAB2;"></i>&nbsp; &nbsp;국민취업지원제도</th>
                                <th style="text-align: right;font-size: 1.05rem;border-top-width: 0px;">정책번호 : R2021021800010</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" style="font-size: 0.85rem;font-weight: bold;background: #effcff;border-top-width: 2px;border-top-color: rgb(0,0,0);">&nbsp; &nbsp; &nbsp;<i class="fas fa-check-circle" style="color:#02AAB2;"></i>&nbsp; &nbsp;한국형 실업부조로 고용안전망 사각지대에 있는 취업취약계층에게 취업지원서비스 및 생활안정을 지원하는 정책<br></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="margin-top: 15px;">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="font-size: 1.1rem;border-top-width: 0px;margin-left: 0px;" colspan="2"><i class="fas fa-check-circle" style="color:#BCCE52;"></i>&nbsp; &nbsp;한눈에 보는 정책 요약</th>
                            </tr>
                        </thead>
                        <tbody style="border-top-color: rgb(0,0,0);">
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;width: 10rem;background: #effcff;">정책 유형<br></td>
                                <td style="font-size: 0.85rem;">취업지원, 교육훈련·체험·인턴<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">지원 내용</td>
                                <td style="font-size: 0.85rem;">1. 취업취약계층에 취업지원<br><br>- 취업지원서비스를 종합적으로 제공하고, 저소득 구직자에게는 최소한의 소득도 지원<br><br>- 자격요건에 부합하는 경우 고용복지+센터에서 관련 서비스와 수당 지원 가능<br><br>2.저소득층 소득지원 강화<br><br>- 구직자 취업촉진 및 생활안정지원에 관한 법률을 기반으로 저소득 구직자 등 Ⅰ유형 대상자에게 구직촉진수당(50만원*6개월)을 지급하여 저소득층 생계안정 지원<br><br>3.취업지원서비스 내실화<br><br>- 직업훈련에 집중된 기존의 취업지원서비스의 문제를 보완, 일경험 프로그램 및 고용/복지서비스 연계 강화를 통해 취업장애요인별 맞춤형 취업지원서비스 제공<br><br>4.구직활동 이행 확보<br><br>- 취업활동계획수립을 통해 구체적인 구직활동의무를 부여하고, 이행을 위한 모니터링 진행<br><br>- 구직활동의무를 성실히 이행한 경우에만 구직촉진수당을 지급하고, 의무 불이행시 수당지급을 제한하는 제도적 장치 마련<br><br>5.기존 취업지원서비스 통합 운영<br><br>- 국민취업지원제도는 기존의 취업성공패키지와 청년구직활동지원금을 통합하여 취업취약계층에 대한 종합적 취업지원제도로서 운영<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">사업 운영 기간<br></td>
                                <td style="font-size: 0.85rem;">연중 상시<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">사업 신청 기간<br></td>
                                <td style="font-size: 0.85rem;">2020.12.28.~ 온라인 사전 신청 접수<br><br>2021.1.1.~ 관할 고용센터 방문 또는 온라인 신청<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">지원 규모(명)<br></td>
                                <td style="font-size: 0.85rem;">연간 총 59만명 지원 예정<br></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="margin-top: 15px;">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="font-size: 1.1rem;border-top-width: 0px;" colspan="2"><i class="fas fa-check-circle" style="color:#BCCE52;"></i><strong>&nbsp; &nbsp;</strong>신청 자격</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;width: 10rem;background: #effcff;">연령&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
                                <td style="font-size: 0.85rem;">만 15세 ~ 69세<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">거주지 및 소득</td>
                                <td style="font-size: 0.85rem;">Ⅰ유형 요건심사형 (구직촉진수당(50만원*6개월)과 취업지원서비스 함께 지원)<br>- 15~69세 구직자 중 가구단위 중위소득 60프로 이하이며, 가구 단위 재산 4억원 이하이면서, 취업경험(최근 2년 이내 100일 또는 800시간 이상)이 있을 것<br>Ⅰ유형 선발형 (구직촉진수당(50만원*6개월)과 취업지원서비스 함께 지원)<br>- 요건심사형 중 취업경험 요건을 충족하지 못한 자<br>- 단, 청년 (18~34세)은 중위소득 120프로 이하자 대상<br>Ⅱ유형 (취업지원서비스 제공) 기존의 취업성공패키지<br>- Ⅰ유형에는 해당하지 않는 가구단위 중위소득 100프로이하 중장년층 등에게 지원<br>- (저소득층) : 15~69세, 중위소득 60프로 이하/ 특정계층/ 월 250만원 미만 특수형태근로종사자, 영세자영업자 등<br>- (청년) : 18~34세<br>- (중장년) : 35~69세, 중위소득 100프로 이하<br>참고)특정계층<br>-노숙인등 비주택거주자/북한이탈주민/여성가장/결혼이민자/결혼이민자중도입국자녀/신용회복지원자/위기청소년/ FTA피해실직자/건설일용근로자/국가유공자 가구원 중 취업지원 대상자/ 미혼모(부),한부모/ 니트(NEET)족/ 영세 자영업자/ 특수형태 근로종사자/집합금지,영업제한 업종 종사자/ 구직단념청년<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">학력</td>
                                <td style="font-size: 0.85rem;">제한없음<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">전공</td>
                                <td style="font-size: 0.85rem;">제한없음<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">취업 상태</td>
                                <td style="font-size: 0.85rem;">미취업자</td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">특화 분야</td>
                                <td style="font-size: 0.85rem;">제한없음<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">추가 단서 사항</td>
                                <td style="font-size: 0.85rem;">2020년에 취업성공패키지, 청년구직활동지원금 등 사업에 참여하였다가 2021년 1월 이후 참여가 종료된 경우, [종료일로부터 6개월 간] 국민취업지원제도 참여 불가<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">참여 제한 대상</td>
                                <td style="font-size: 0.85rem;">국민취업지원제도에 참여할 수 없는 대상(Ⅰ유형)<br><br><br><br>-학업/군복무 등으로 즉시 취업이 어려운 사람<br><br><br><br>-생계급여 수급자(단, Ⅱ유형 참여가능)<br><br><br><br>-실업급여 수급 중이거나 종료 후 6개월이 지나지 않은자<br><br><br><br>-자치단체 청년수당 수급 중이거나 종료 후 6개월이 지나지 않은 자<br><br><br><br>-정부 재정지원 직접일자리 참여 중이거나 종료 후 6개월이 지나지 않은 사람<br><br><br><br>-신청인 본인의 월 평균 총소득이 1인가수 기준 중위소득 50프로 초과한 사람<br></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="margin-top: 15px;">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2" style="font-size: 1.1rem;border-top-width: 0px;"><i class="fas fa-check-circle" style="color:#BCCE52;"></i>&nbsp; &nbsp;신청 방법</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;width: 10rem;background: #effcff;">신청 절차<br></td>
                                <td style="font-size: 0.85rem;">(1단계) 워크넷(work.go.kr) 접속 → 회원가입 → 구직신청 → 국민취업지원제도 홈페이지 로그인 → 참여신청<br><br>(2단계) 국민취업지원제도 온라인 전산망 접속(work.go.kr/kua) → 신청서 작성 → 신청하기<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">심사 및 발표<br></td>
                                <td style="font-size: 0.85rem;">1. 신청(워크넷 구직신청, 취업지원 신청서 제출)<br><br>*21.1.1. 이후 참여를 희망하는 본인이 관할 고용센터에 방문하거나, 온라인(www.work.go.kr/kua)으로 신청, 온라인 사전신청은 20.12.28부터 가능<br><br>2. 수급자격 결정 및 통보(신청서 제출일로부터 1개월 이내, 7일 범위내 연장 가능)<br><br>3. 취업활동계획수립(진로상담, 직업심리검사 등 실시, 고용센터 담당자와 대면 상담 실시)<br><br>3-1. 1차 구직촉진수당 지급(구직촉진수당 지급신청서 제출일로부터 14일 이내 지급)<br><br>4. 취업활동계획에 따른 구직활동 이행(월 2회 이상)<br><br>4-1. 2~6회차 구직촉진수당 지급(구직활동이행 월 2회 이상 여부 확인, 구직촉진수당 지급신청서 제출일로부터 14일 이내 지급)<br><br>5. 사후관리 지원(미취업자 - 취업지원서비스 종료일로부터 3개월 동안 구인정보 제공 등 사후관리, 취업자 - 장기근무 유도를 위한 취업성공수당 지원)<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">신청 사이트<br></td>
                                <td style="font-size: 0.85rem;"><a href="https://www.work.go.kr/kua/intro/kuaIntro.do#" target="_blank">https://www.work.go.kr/kua/intro/kuaIntro.do#</a><br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">제출 서류<br></td>
                                <td style="font-size: 0.85rem;">- 취업지원신청서, 개인정보수집·이용 및 제공 동의서 필수 제출<br><br>-대부분의 지원자격 정보는 개인정보활용동의를 통해 공적시스템에서 파악 가능<br><br>-그 밖에 가구원 확정, 전산망으로 확인이 어렵거나 실시간으로 파악되지 않는 소득/재산 등의 관련 정보는, 신청인 본인이 직접 증빙서류를 제출해 입증하여야 함<br><br>(필요시)<br><br>- 가구단위 증빙서류: 가족관계증명원, 실종신고서<br><br>-특정취약계증 증빙서류: 관련 추천서, 확인서<br><br>-전산망으로 확인불가 또는 전산망에 실시간 연계되지 않는 소득/재산/취업경험 관련 정보: 사업주 확인자료 등 관련 증빙자료<br></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="margin-top: 15px;">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2" style="border-top-width: 0px;"><i class="fas fa-check-circle" style="color:#BCCE52;"></i><strong>&nbsp; &nbsp;기타</strong><br></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;width: 10rem;background: #effcff;">기타 유익 정보<br></td>
                                <td style="font-size: 0.85rem;">문의상담 고용센터, 국번없이 1350<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">주관 기관<br></td>
                                <td style="font-size: 0.85rem;">고용노동부<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">운영 기관<br></td>
                                <td style="font-size: 0.85rem;">고용노동부<br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">사업 관련 참고 사이트1<br></td>
                                <td style="font-size: 0.85rem;"><a href="https://www.work.go.kr/kua/intro/kuaIntro.do" target="_blank">https://www.work.go.kr/kua/intro/kuaIntro.do</a><br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">사업 관련 참고 사이트2<br></td>
                                <td style="font-size: 0.85rem;"><a href="https://www.work.go.kr/kua/index.do" target="_blank">https://www.work.go.kr/kua/index.do</a><br></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">첨부파일<br></td>
                                <td style="font-size: 0.85rem;"></td>
                            </tr>
                            <tr>
                                <td style="font-size: 0.85rem;font-weight: bold;background: #effcff;">관련첨부파일</td>
                                <td style="font-size: 0.85rem;"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" style="background: #ffffff;">
                    <div class="col" style="text-align: center;margin: 0px;margin-right: 0px;margin-left: 0px;"><button class="btn btn-dark" type="button" style="font-family: Lato, sans-serif;text-align: center;background: #00bbbb;width: 150px;height: 50px;font-weight: bold;font-size: 16px;">뒤로가기</button></div>
                </div>
            </div>
        </div>
    </section>       
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/bootstrap.js"></script>
    <script src="../assets/js/bootstrap.min-1.js"></script>
    <script src="../assets/js/bootstrap.min-2.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/bs-init.js"></script>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/Mega-Menu.js"></script>
    <script src="../assets/js/Navbarbuttonsignupsignin-modal-form.js"></script>
    <script src="../assets/js/popper.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/js/bootstrap.js"></script>
    <script src="../../assets/js/bootstrap.min-1.js"></script>
    <script src="../../assets/js/bootstrap.min-2.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="../../assets/js/bs-init.js"></script>
    <script src="../../assets/js/Faq-by-pomdre.js"></script>
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/Mega-Menu.js"></script>
    <script src="../../assets/js/Navbarbuttonsignupsignin-modal-form.js"></script>
    <script src="../../assets/js/popper.js"></script>
    <script src="../../assets/js/Profile-Edit-Form.js"></script>
</body>

</html>