.mh_article_header {
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-left: 5px;
}

.mh_article_title {
  font-family: Lato, sans-serif;
  text-align: left;
  font-weight: bold;
  font-size: 28px;
}

.mh_article_info span {
  color: gray;
  font-size: 16px;
  margin-right: 10px;
}

.mh_article_body {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom-style: solid;
  border-bottom-color: #ddd;
}

.mh_body_content {
  min-height: 300px;
  padding-left: 5px;
  padding-right: 5px;
}

.mh_body_content p {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.mh_article_footer {
  margin-top: 50px;
}

.mh_article_footer {
  display: flex;
  justify-content: center;
}

.mh_btn_down {
  font-size: 40px;
  color: #FF7777;
  background-color: transparent;
  border: 1px solid #ddd;
  padding: 1px 40px;
}

.mh_btn_up {
  margin-right: 30px;
  font-size: 40px;
  color: #9777FF;
  background-color: transparent;
  border: 1px solid #ddd;
  padding: 1px 40px;
}

.mh_community_comment {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mh_comment_write_title {
  margin-left: 0;
  font-size: 32px;
  font-weight: bold;
  color: #BCCE52;
}

.mh_comment_write_reply {
  padding-left: 5px;
  color: #BCCE52;
  font-weight: bold;
  font-size: 24px;
}

.mh_comment_textarea {
  padding-right: 10px;
  padding-left: 10px;
  width: 980px;
  margin-top: 10px;
  background: rgb(255, 255, 255);
  border-style: solid;
  border-color: #ddd;
  height: 100px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  resize: none;
  margin-right: 5px;
  margin-left: -110px;
}

.mh_btn_reg_comment {
  position: absolute;
  height: 100px;
  background: #BCCE52;
  color: rgb(255,255,255);
  font-weight: bold;
  font-size: 24px;
  border-style: none;
  margin-top: 10px;
  width: 110px;
  border-radius: 5px;
  padding: 0;
  margin-left: 1000px;
}

.mh_comment_view {
  margin-top: 15px;
}

.mh_comment_writer {
  color: #02AAB2;
  margin-right: 5px;
  font-size: 16px;
}

.mh_comment_reg_date {
  color: gray;
  font-size: 11px;
}

.mh_comment_content {
  border-bottom: 1px solid #ddd;
  padding: 0 5px 10px 3px;
}

.mh_comment_content span {
  text-align: left;
  font-size: 14px;
  margin: 0;
}

