.border-bottom {
  background-color: var(--main-offline);
  height: 7px;
  border-radius: 70% 65% 7% 10%;
  margin-bottom: -2px;
}

.card-devices {
  width: 300px;
  border: 1px solid #999999;
  margin-left: 35px;
}

.card-text {
  font-size: 10px;
}

.sub-title {
  margin-top: 20px;
  font-size: 1px;
}

.zoom:hover {
  -ms-transform: var(--main-scale);
  -webkit-transform: var(--main-scale);
  transform: var(--main-scale);
  box-shadow: 10px 10px 5px #aaaaaa;
}

.yl-main-icon {
  height: 150px;
  padding-top: 50px;
}

#yl-3contents {
  background-color: rgb(2,170,178);
  width: 100%;
  /*box-shadow: 2px 3px 10px#212529;*/
}

#freepik_stories-welcome {
  width: 100%;
  height: 500px;
}

#freepik_stories-search-engines {
  width: 100%;
  height: 500px;
}

#freepik_stories-my-answer {
  width: 100%;
  height: 500px;
}

.yl-card-body {
  padding: 25px;
}

.yl-card-title {
  height: 40px;
  margin-top: 10px;
  font-family: 'IBM Plex Sans KR';
  font-size: 1.4rem;
}

.yl-sub-title {
  height: 30px;
  margin-top: 20px;
  font-family: 'IBM Plex Sans KR';
}

.yl-card-subtitle {
  height: 30px;
  font-size: 1.1rem;
}

.yl-card-text {
  height: 70px;
  padding-top: 30px;
}

.yl-card-icon {
  margin-top: 75px;
  font-size: 1.03rem;
  color: grey;
  font-family: 'Lato';
}

#yl-main-people {
}

#yl-nodong {
  width: 20px;
}

#yl-nodong {
}

#nodong {
  width: 60%;
  height: 100%;
  padding-top: 35px;
  margin-left: 60px;
  margin-right: 20px;
}

#jungbowon {
  width: 70%;
  margin-left: 70px;
  margin-right: 30px;
}

#youthcenter {
  width: 55%;
  height: 85%;
  margin-top: 25px;
  margin-right: 20px;
  margin-left: 80px;
}

.yl-row {
  width: 100%;
  display: flex;
}

#kakao-login {
  width: 100%;
  background-color: #FEE500;
  font-weight: 500;
}

#google-login {
  background-color: var(--bs-red);
  font-weight: 500;
}

#yl-login {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

#login-link {
  font-size: 1rem;
  color: #2474c1;
}

.user-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 70%;
  overflow: hidden;
  border: 3px solid lightgray;
  object-fit: cover;
  margin-top: 8px;
  margin-left: 10px;
}

