@font-face {
	font-family: 'Hahmlet';
	src: url(../../assets/fonts/Hahmlet-Regular.woff2) format('woff2'),
	url(../../assets/fonts/Hahmlet-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}