@font-face {
	font-family: 'IBM Plex Sans KR';
	src: url(../../assets/fonts/IBMPlexSansKR-Regular.woff2) format('woff2'),
	url(../../assets/fonts/IBMPlexSansKR-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}