@font-face {
	font-family: 'NanumGothic';
	src: url(../../assets/fonts/NanumGothic.woff2) format('woff2'),
	url(../../assets/fonts/NanumGothic.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}