@font-face {
	font-family: 'simple-line-icons';
	src: url(../../assets/fonts/Simple-Line-Icons.eot?v=2.4.0) format('embedded-opentype'),
	url(../../assets/fonts/Simple-Line-Icons.eot?v=2.4.0) format('embedded-opentype'),
	url(../../assets/fonts/Simple-Line-Icons.woff2?v=2.4.0) format('woff2'),
	url(../../assets/fonts/Simple-Line-Icons.ttf?v=2.4.0) format('truetype'),
	url(../../assets/fonts/Simple-Line-Icons.woff?v=2.4.0) format('woff'),
	url(../../assets/fonts/Simple-Line-Icons.svg?v=2.4.0) format('svg');
	font-weight: 400;
	font-style: normal;
}