@font-face {
	font-family: 'Song Myung';
	src: url(../../assets/fonts/SongMyung-Regular.woff2) format('woff2'),
	url(../../assets/fonts/SongMyung-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}